*{
	margin:0;
	padding: 0;
}

body {
	background: #f8f8f8;
}

.menu li {
    list-style-type: none; 

}
.menu-link:hover {
	background: red;
}

.menu a {
	color: gray;
	font-style: italic;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
}



.product-title {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
	height: 50px;
	width: 610px;
}



.product-description-short {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.product-description {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

ol > li {
	color: gray;
	font-size: 12px;
	font-weight: 600;
	line-height: 16px;
}

.form-class {
	height: 25px;
	width: 150px;
	color: gray;
	font-size: 15px;
}

textarea:focus, input:focus {
    color: red;
    background-color: #d1d1d1;
    text-transform: capitalize;
}

table{
width: 100%;
border-collapse:collapse;
border-spacing:0
}
table, td, th {
border: 1px solid #595959;
}
td, th {
padding: 3px;
width: 30px;
height: 35px;
}
th {
background-color: #7accee;
}




.container {
	background-color: #ccc;
	margin: auto;
	width: 1000px;
	border: 3px solid green;
	padding: 10px;
}


.header1 {
	display: flex;
	justify-content: space-between;
	height: 150px;
}

.menu {
	display: flex;
/*	padding-left: 500px;*/

}
.logo {
/*	padding-left: 100px;*/
	align-content: left;
}

.menu-link {
	.search {
	display: block;
	width: 23px;
	height: 23px;
	background-image: url(/static/img/search.png);
	position: absolute;
	top: 63px;
	/*left: 1176px;*/
	left: 1151px;
}
.basket {
	display: block;
	width: 23px;
	height: 23px;
	background-image: url(/static/img/basket.png);
	position: absolute;
	top: 63px;
	/*left: 1210px;*/
	left: 1185px;
    text-decoration: none;
    color: #555;
}

.basket span {
	display: block;
    margin-left: 30px;
    width: 150px;
}width: 300px;
	justify-content: space-between;
	list-style-type: none;
	height: 45px;
	line-height: 100px;
	margin-right: 30px;

}

.footer {
	height: 50px;
	text-align: right;
	background-color: #cce
	
}



.footer p {
	margin-top:10px;
	margin-right: 10px;
	
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	  
}
.main h1 {
	flex: 1 0 100%
}

.block-main {
	display: flex;
	flex-wrap: wrap;
	
}
.block-main a {
	flex: 1 0 100%
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}

.product-align {
	display: flex;
}

.test {
	height: 50px;
	flex: 1 0 100%
}
.description-price {

    padding-top: 50px;

}
.admin_container .menu span {
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #111;
}

.search {
	display: block;
	width: 23px;
	height: 23px;
	background-image: url(/static/img/search.png);
	position: absolute;
	top: 63px;
	/*left: 1176px;*/
	left: 1151px;
}
.basket {
	display: block;
	width: 23px;
	height: 23px;
	background-image: url(/static/img/basket.png);
	position: absolute;
	top: 63px;
	/*left: 1210px;*/
	left: 1185px;
    text-decoration: none;
    color: #555;
}

.basket span {
	display: block;
    margin-left: 30px;
    width: 150px;
}





@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

html, body {
	height: 100%;
}


.product_read {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}

.product_read img {
    display: block;
    float:left;
    margin-top: 25px;
    border-radius: 25px;
}

.product_read .product_name {
    display: block;
    margin: 0 auto;
    width: 350px;
}

.product_read .summary {
    display: block;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
    width: 150px;
}

.product_read .product_desc {
    display: block;
    float: left;
    margin-left: 35px;
    margin-top: 45px;
    width: 400px;
}

.product_read strong {
    font-size: 150%;
    margin-left: 15px;
}

.product_read button {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    margin: 0px auto;
    width: 135px;
    padding: 0 15px;
}

.product_read a {
    color: #555;
    text-decoration: none;
}


.product_delete {
    margin: 50px auto;
    width: 600px;
    font-size: 150%;
}

.product_delete .btn {
    display: block;
    float:left;
    margin: 25px;
    width: 150px;
    color: #111;
}

.product_delete a {
    color: #111;
    text-decoration: none;
}



.products_list {
    margin-left: 250px;
}

.products_list .new_product {
    margin-left: 150px;
}

.products_list button {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    margin: 5px auto;
    width: 135px;
    padding: 0 15px;
}

.products_list a {
    color: #555;
    text-decoration: none;
}

.product_record {
    height: 125px;
    margin: 15px auto;
    position: relative;
}

.product_record.not_active {
    opacity: 0.5;
}

.product_record .product_name {
    display: block;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    width: 250px;
    font-size: 150%;
}

.product_record .product_actions {
    display: block;
    float: left;
    margin-top: 0px;
    margin-left: 25px;
    width: 135px;
}

.product_record .product_desc {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 350px;
}

.product_record .summary {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 100px;
}

.product_record img {
    display: block;
    float: left;
    height: 125px;
    width: 125px;
    border-radius: 25px;
}


.new_category_form {
    margin: 0 auto;
    width: 600px;
}


.category_delete {
    margin: 50px auto;
    width: 600px;
    font-size: 150%;
}

.category_delete .btn {
    display: block;
    float:left;
    margin: 25px;
    width: 150px;
    color: #111;
}

.category_delete a {
    color: #111;
    text-decoration: none;
}

.categories_list {
    margin-left: 150px;
}

.categories_list .new_category {
    margin-left: 200px;
}

.categories_list button {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    margin: 5px auto;
    padding: 0 15px;
}

.categories_list a {
    color: #555;
    text-decoration: none;
}

.category_record {
    height: 125px;
    margin: 15px auto;
    position: relative;
}

.category_record.not_active {
    opacity: 0.5;
}

.categories_list .category_name {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 150px;
    font-size: 150%;
}

.category_record .category_actions {
    display: block;
    float: left;
    margin-top: 0px;
    margin-left: 25px;
    width: 175px;
}

.category_record .category_desc {
    display: block;
    float: left;
    margin-top: 0px;
    margin-left: 25px;
    width: 300px;
}


.user_delete {
    margin: 50px auto;
    width: 600px;
    font-size: 150%;
}

.user_delete .btn {
    display: block;
    float:left;
    margin: 25px;
    width: 150px;
    color: #111;
}

.user_delete a {
    color: #111;
    text-decoration: none;
}

.users_list {
    margin-left: 150px;
}

.users_list a {
    color: #555;
    text-decoration: none;
}

.users_list .new_user {
    margin-left: 190px;
}

.users_list button {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    margin: 5px auto;
    padding: 0 15px;
}

.user_record {
    height: 125px;
    margin: 15px auto;
    position: relative;
}

.user_record.not_active {
    opacity: 0.5;
}

.user_record img {
    display: block;
    float: left;
    height: 125px;
    border-radius: 25px;
}

.user_record .user_name {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 175px;
}

.user_record .user_name a {
    color: #555;
}

.user_record .user_name p {
    /*font-weight: bold;*/
    margin: 10px auto;
}

.user_record .user_email {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    width: 175px;
}

.user_record .user_age {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    width: 45px;
}

.user_record .user_role {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 125px;
}

.user_record .user_lastlogin {
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    width: 175px;
}


.admin_container .h2 {
    margin-top: 10px;
}

.admin_menu {
    display: block;
    left: 15px;
    top: 20px;
    height: 40px;
    width: 100%;
}

.admin_menu ul.menu{
    display: block;
    float: none;
    width: 550px;
    height: 50px;
    margin: auto;
    color: #555;
}

}