<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Интернет магазин СмартПеченька</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header class="container">	
		<div class="header1">
		<!-- 	<div class="block"> -->
			<img class="logo block2" src="img/logo.png" alt="logo" height="100">
		<!-- 	</div> -->
			<ul class="menu block">

		 		<li><a class="menu-link" href="index.html">Главная</a></li>
				<li><a class="menu-link" href="catalog.html">Каталог</a></li>
				<li><a class="menu-link" href="contacts.html">Контакты</a></li>
			</ul> 		

		</div>

		<hr>
	</header>
	<main class="container">
		<h1>Напишите нам</h1>

		<form action="">
			<label for="fname">Имя</label><br>
			<input class="form-class" type="text" id="fname" name="fname"><br>
			<label for="lname">E-mail</label><br>
			<input class="form-class" type="E-mail" id="lname" name="lname"><br>
			<label for="subject">Тема</label><br>
			<input class="form-class" type="Тема" id="subject" name="subject"><br>
			<p>Текстовое поле</p>
			<textarea class="form-class" cols="20" rows="5"></textarea><br>
			<input type="submit" value="Отправить"><br>
		</form>
		<h1>Адрес</h1>
		<p>Контактный номер - xxxxxxxxx</p>
		<p>Адрес - Пиченкина 11</p>
		<p>Е-mail - smartpicenki@gmail.com</p>

		<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d1359.7771755977585!2d28.83852!3d47.029352!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d47.0291104!2d28.8383044!5e0!3m2!1sen!2sus!4v1590851601779!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

	</main>
	<footer class="container">
		<div class="footer">
		<hr>
		<p>«&copy; Все права защищены»</p>
		</div>
	</footer>								
	
</body>
</html>				